.content {
  display: flex;
  justify-content: space-between;
  font-size: 0.1768rem;
}

.col {
  width: calc(50% - 0.125rem);

  position: relative;
}

.root {
  :global {
    .ant-layout-content {
      margin-bottom: 0 !important;
      min-width: 900px;
    }
    .ant-pro-global-footer {
      margin: 12px 0 !important;
    }
  }
}
