.row {
  .box {
    padding-top: 40%;
  }
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.box {
  position: relative;
  box-shadow: inset 0px 0px 56px 18px rgba(88, 215, 207, 0.3);
  border-radius: 5px;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.mar25 {
  margin-top: 25px;
}
