@import '~antd/es/style/themes/default.less';

.components-bg() {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('./assets/comBackground.jpg') !important;
}
